<p id="notice"><%= notice %></p>

<h2>Listing Video Lessons</h2>

  <%= link_to new_video_path, class: "btn-floating btn-large waves-effect waves-light red" do %>
  <i class="material-icons">add</i>
  <% end %>
 
 <ul class="collapsible popout" data-collapsible="accordion">
    <% @videos.each do |video| %>
    <li>
      <div class="collapsible-header">
       <i class="material-icons">description</i>
        <%= link_to video.title, video %>
        <!-- 
        <span class="right">
           <%=link_to edit_video_path(video) do %> 
            <i class="material-icons">edit</i><% end %>
               <%=link_to video, method: :delete, data: { confirm: "are you sure"} do %>
              <i class="material-icons">delete</i><% end %>
              -->
          
        </span>
      </div>
      <div class="collapsible-body"><p><%= video.description %></p></div>
    </li>
    <% end %>
</ul>