 <h5>About Me</h5>

<div class="card z-depth-4">
    <!--twitter feed-->
	<div class="card-content white-text">
		<div class="col m6">
		<a class="twitter-timeline" href="https://twitter.com/becracra" data-widget-id="633829586711773185">Tweets by @becracra</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
         </div>
		<!--twitter avatar-->
		<div class="col m6">
		   <div class="card-panel grey lighten-4 z-depth-1">
		   	  <div class="row valign-wrapper">
		   	  	 <!--img avatar-->
		   	  	 <div class="col m3">
		   	  	 	<%= image_tag "desipic.jpg", class: "circle responsive-img" %>
		   	  	 </div>
		   	  	 <!--text-->
		   	  	 <div class="col m9">
		   	  	 	<span class="black-text">
		   	  	 		This is where I usually talk a lot.....
		   	  	 	</span>
		   	  	 </div>
		   	  </div>
		   </div>
			
		</div>
	</div>
</div>

