<h5>Contacts</h5> 

<div class="card z-depth-3">
	<div class="card-content">
      <p>Email: desiby@hotmail.com</p><br/>
	    <p>Find me on the map</p><br/>
		    <div id="map"></div>

	</div>
</div>

     

<style>
      #map {
        width: 100%;
        height: 400px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map');
        var mapOptions = {
          center: new google.maps.LatLng(25.79	, -80.13),
          zoom: 14,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
        var marker = new google.maps.Marker({

        position: new google.maps.LatLng(25.79 , -80.13),
        title: "south beach"
        });

        marker.setMap(map);
     }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>