<!DOCTYPE html>
<html>
<head>
  <title>Welcome | Online Ed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
<!-- add icons library -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>          
</head>
<body>
	<nav>
      <div class="nav-wrapper">
        <%= link_to "OnlinED Platform", root_path, class: "brand-logo center" %>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="<%= root_path %>"><i class="mdi-action-view-list"></i></a></li>
          <li><a href="<%= pages_about_path %>"><i class="material-icons">&#xE55A;</i>About</a></li>
          <li><a href="<%= pages_contact_path %>"><i class="material-icons">&#xE0C8;</i>Contact</a></li>
          <li><a href="<%= rails_admin_path %>"><i class="material-icons">&#xE897;</i>Admin panel</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="<%= root_path %>"><i class="mdi-action-view-list"></i></a></li>
          <li><a href="<%= pages_about_path %>"><i class="material-icons">&#xE55A;</i>About</a></li>
          <li><a href="<%= pages_contact_path %>"><i class="material-icons">&#xE0C8;</i>Contact</a></li>
          <li><a href="<%= rails_admin_path %>"><i class="material-icons">&#xE897;</i></i>Admin panel</a></li>
        </ul>
      </div>
  </nav>

	<div class="row">
	   <div class="col s12">
   
   <% if current_user %>
      <%= link_to "logout", destroy_user_session_path, method: :delete %>
   <% else %>
      <%= link_to "login", new_user_session_path %>
   <% end %>
     
	   	
<%= yield %>

      </div>
    </div>
<!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.js"></script>
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
      <script>
         $('.button-collapse').sideNav();
      </script>
</body>
</html>
